In [3]:
import pandas as pd
from pandas import util

In [7]:
df= util.testing.makeMixedDataFrame()

In [5]:
df

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [8]:
def create_schema(df):
    schema = df.dtypes.map(lambda x: x.name).to_dict()
    return schema

In [9]:
create_schema(df)

{'A': 'float64', 'B': 'float64', 'C': 'object', 'D': 'datetime64[ns]'}

In [10]:
df = pd.DataFrame(columns = ['','year','state','commodity_name',
    'refed_food_department','refed_food_category','acres_planted',
    'acres_harvested','us_dollars_harvested','tons_harvested','percent_maturity'])
df.loc[0] = [2202,2016,'Alabama','PECANS','Dry goods','Nuts and seeds',8900.0,8900.0,4467000.0,1100.0,0.5] 
df.loc[1] = [2203,2016,'Alabama','PEANUTS','Dry goods','Nuts and seeds',175000.0,172000.0,121982000.0,309600.0,0.5] 


causes_df = pd.DataFrame(columns = ['cause','rate'])
causes_df.loc[0] = ['not_marketable',0.28]
causes_df.loc[1] = ['inedible',0.28]
causes_df.loc[2] = ['bad_weather',0.042]
causes_df.loc[3] = ['pests_disease',0.00063]
causes_df.loc[4] = ['market_dynamics',0.00013]
causes_df.loc[5] = ['other',0.39724]

In [11]:
df

,,year,state,commodity_name,refed_food_department,refed_food_category,acres_planted,acres_harvested,us_dollars_harvested,tons_harvested,percent_maturity
0,2202,2016,Alabama,PECANS,Dry goods,Nuts and seeds,8900.0,8900.0,4467000.0,1100.0,0.5
1,2203,2016,Alabama,PEANUTS,Dry goods,Nuts and seeds,175000.0,172000.0,121982000.0,309600.0,0.5

In [13]:
causes_df

             cause     rate
0   not_marketable  0.28000
1         inedible  0.28000
2      bad_weather  0.04200
3    pests_disease  0.00063
4  market_dynamics  0.00013
5            other  0.39724

In [14]:
def calc_tons_never_harvested(df):
    df['acres_unharvested'] = df['acres_planted'] - df['acres_harvested']
    df['yield_tons_per_acre'] = df['tons_harvested'].div(df['acres_harvested'].values)
    df['price_per_ton'] = df['us_dollars_harvested'].div(df['tons_harvested'].values)
    df['tons_never_harvested'] = df['acres_unharvested'] * df['yield_tons_per_acre'] * df['percent_maturity']
    return df

def calc_tons_never_harvested_by_cause(farm_df, causes_df):
    i = 0
    for i in range(len(causes_df)):
        cause, rate = causes_df.iloc[i]
        farm_df[cause] = farm_df['tons_never_harvested'].apply(lambda x: x*rate)
        i += 1

    return farm_df

In [15]:
cdf = calc_tons_never_harvested(df)
final = calc_tons_never_harvested_by_cause(cdf, causes_df)
final

,,year,state,commodity_name,refed_food_department,refed_food_category,acres_planted,acres_harvested,us_dollars_harvested,tons_harvested,...,acres_unharvested,yield_tons_per_acre,price_per_ton,tons_never_harvested,not_marketable,inedible,bad_weather,pests_disease,market_dynamics,other
0,2202,2016,Alabama,PECANS,Dry goods,Nuts and seeds,8900.0,8900.0,4467000.0,1100.0,...,0.0,0.123596,4060.909091,0.0,0.0,0.0,0.0,0.000,0.000,0.000
1,2203,2016,Alabama,PEANUTS,Dry goods,Nuts and seeds,175000.0,172000.0,121982000.0,309600.0,...,3000.0,1.800000,393.998708,2700.0,756.0,756.0,113.4,1.701,0.351,1072.548

In [70]:
import hashlib

REQ_COLS = [
    'year', 
    'state', 
    'commodity_name'
]

farm_data = pd.read_csv("/Users/margiehenry/Downloads/wetransfer_farm_not_harvested_causes-csv_2022-11-16_1428/farm_part_1.csv", index_col=0)

def make_hash_id(df, hash_col_ls):
    req_cols_df = df.filter(hash_col_ls, axis=1)
    uid = req_cols_df.apply(
        lambda row: "_".join(row.values.astype(str)), axis=1
    )
    uid_hashed = [(
        uid
        .str.encode("utf-8")
        .apply(lambda x: (hashlib.sha512(x).hexdigest().upper()))
    )]
    df['uid'] = uid_hashed
        return df

In [71]:
type(make_hash_id(df, REQ_COLS))

ValueError: Length of values (1) does not match length of index (927)